<ActivityIndicator [busy]="busy" class="activity-indicator"></ActivityIndicator>
<StackLayout>
    <Label text="Category works" *ngIf="!busy"></Label>
    <CheckBox text="CheckBox Label" [checked]="isCheckConfirm" (checkedChange)="toggleCheckConfirm()" fillColor="#dd44ef"></CheckBox>
    <CheckBox text="CheckBox Label" boxType="circle" checked="true"></CheckBox>
    <Label [text]="isCheckConfirm"></Label>

    <StackLayout>
        <Label class="p-10" text="Tap either the buttons or the labels. You can even unselect the radiobutton selection." textWrap="true"></Label>
        <StackLayout class="p-10" *ngFor="let option of radioOptions">
            <StackLayout orientation="horizontal" verticalAlignment="center">
                <CheckBox
                    boxType="circle"
                    fillColor="#dd44ef"
                    #elem
                    [checked]="option.selected"
                    (checkedChange)="elem.checked !== option.selected && changeCheckedRadio(option)"></CheckBox>
                <StackLayout verticalAlignment="center">
                    <Label [text]="option.text" textWrap="true" (tap)="changeCheckedRadio(option)"></Label>
                </StackLayout>
            </StackLayout>
        </StackLayout>
    </StackLayout>
    <Label [text]="radioText"></Label>

</StackLayout>

<BottomNavigation selectedIndex="1">

    <TabStrip>
        <TabStripItem>
            <Label text="Home"></Label>
            <Image src="font://&#xf015;" class="fas t-36"></Image>
        </TabStripItem>
        <TabStripItem class="special">
            <Label text="Account"></Label>
            <Image src="font://&#xf007;" class="fas t-36"></Image>
        </TabStripItem>
        <TabStripItem class="special">
            <Label text="Search"></Label>
            <Image src="font://&#xf00e;" class="fas t-36"></Image>
        </TabStripItem>
    </TabStrip>

    <TabContentItem>
        <GridLayout>
            <Label text="Home Page" class="h2 text-center"></Label>
        </GridLayout>
    </TabContentItem>
    <TabContentItem>
        <GridLayout>
            <Label text="Account Page" class="h2 text-center"></Label>
        </GridLayout>
    </TabContentItem>
    <TabContentItem>
        <GridLayout>
            <Label text="Search Page" class="h2 text-center"></Label>
            <SearchBar hint="Enter search term here ..."
                       textFieldHintColor="whitesmoke"
                       textFieldBackgroundColor="orangered"
                       [text]="searchPhrase" (textChange)="onTextChanged($event)"
                       (clear)="onClear($event)" (submit)="onSubmit($event)">
            </SearchBar>
        </GridLayout>
    </TabContentItem>

</BottomNavigation>
