<ActivityIndicator [busy]="busy" class="activity-indicator"></ActivityIndicator>
<StackLayout>
    <Label text="Category works" *ngIf="!busy"></Label>
    <CheckBox text="CheckBox Label" [checked]="isCheckConfirm" (checkedChange)="toggleCheckConfirm()"></CheckBox>
    <Label [text]="isCheckConfirm"></Label>

    <StackLayout>
        <Label class="p-10" text="Tap either the buttons or the labels. You can even unselect the radiobutton selection." textWrap="true"></Label>
        <StackLayout class="p-10" *ngFor="let option of radioOptions">
            <StackLayout orientation="horizontal" verticalAlignment="center">
                <CheckBox #elem [checked]="option.selected" (checkedChange)="elem.checked !== option.selected && changeCheckedRadio(option)" class="checkbox" boxType="circle"></CheckBox>
                <StackLayout verticalAlignment="center">
                    <Label [text]="option.text" textWrap="true" (tap)="changeCheckedRadio(option)"></Label>
                </StackLayout>
            </StackLayout>
        </StackLayout>
    </StackLayout>
    <Label [text]="radioText"></Label>

</StackLayout>
