<ActionBar>
    <!--
    Use the NavigationButton as a side-drawer button in Android
    because ActionItems are shown on the right side of the ActionBar
    -->
    <NavigationButton
            class="fas icon__android"
            ios:visibility="collapsed"
            icon="{{androidIcon}}"
            (tap)="performAction()"></NavigationButton>

    <!--
    Use the ActionItem for IOS with position set to left. Using the
    NavigationButton as a side-drawer button in iOS is not possible,
    because its function is to always navigate back in the application.
    -->

    <ActionItem
            class="fas icon"
            icon="{{iosIcon}}"
            android:visibility="collapsed"
            ios.position="left"
            (tap)="performAction()"></ActionItem>

    <Label
            class="fas"
            text="{{text}}"></Label>

    <ActionItem
            ios.position="right"
            android.position="actionBar"
            (tap)="goToCart()"
    *ngIf="showCart">
        <!--        <DockLayout borderColor="#a52a2a" borderWidth="2">-->
        <!--                <Label class="fas cart" dock="left" text="{{cartIcon}}"></Label>-->
        <!--                <Label class="cart__items_count" dock="top" text="{{cartItemsCount}}"></Label>-->
        <!--        </DockLayout>-->
        <AbsoluteLayout>
            <Label class="label cart__items_count" top="-15" left="15" text="{{cartItemsCount}}"></Label>
            <Label class="fas cart" text="{{cartIcon}}"></Label>
        </AbsoluteLayout>
    </ActionItem>
</ActionBar>
