
.icon__android{
  font-size: 10;
}

.icon{
  font-size: 20;
}

.cart{
  font-size: 20;
  vertical-align: center;
  horizontal-align: center;
}

.cart__items_count{
  font-size: 15;
  font-weight: bold;
}
