
.home__label{
  color: #686874;
}
.main__container{
  margin-top: 5;
}

.carousel__image{
  border-radius: 5;
}

.recommended__label {
  font-size: 20;
  font-weight: bold;
}

.recommended__item{
  width: 100;
  margin-right: 10;
}

.all__items{
  width: 100;
}

.recommended__item_image{
  height: 100;
  //border-radius: 15;
}

.recommended__item_details{
  margin-left: 5;
}

.recommended__item_name {
  width: 100;
  font-size: 16;
  margin: -2 0 0 0;
}

.recommended__item_variations{
  margin: -10 0 0 0;
}

.recommended__item_variation {
  margin-right: 2;
}

.recommended__item_price {
  font-size: 12;
  margin: -8 0 0 0;
}
