
<ScrollView>

    <GridLayout rows="auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto" class="m-5">

        <GridLayout row="0" height="150">
            <Carousel

                    [items]="images"
                    android:indicatorAnimation="THIN_WORM"
                    indicatorColor="#595d62"
                    indicatorOffset="0, 15"
                    showIndicator="true"
                    ios:finite = "true"
                    ios:autoPagingInterval="5">
                <CarouselItem *ngFor="let item of images" verticalAlignment="middle" >
                        <Image class="m-2 carousel__image" [src]="item" stretch="aspectFill"></Image>
                </CarouselItem>
            </Carousel>
        </GridLayout>

        <StackLayout row="1" class="m-t-10">
            <Label class="label recommended__label" text="Recommended"></Label>

            <ScrollView orientation="horizontal" scrollBarIndicatorVisible="false">
                <StackLayout orientation="horizontal">
                    <StackLayout
                            class="recommended__item"
                            *ngFor="let image of images"
                            (tap)="goToProduct()">
                        <Image [src]="image" class="recommended__item_image" stretch="aspectFill"></Image>
                        <StackLayout class="recommended__item_details">
                            <Label
                                    class="label home__label recommended__item_name"
                                    text="Name Name Name Name Name Name Name Name Name NameNameNameNameNameName"
                                    textWrap="false"></Label>
                                <StackLayout orientation="horizontal" class="recommended__item_variations">
                                    <Label
                                            text="ab cd, ab cd, ab cd, ab cd, ab cd, ab cd"
                                            class="label home__label recommended__item_variation">
                                    </Label>
                                </StackLayout>
                            <Label class="label home__label recommended__item_price" text="Price"></Label>
                        </StackLayout>
                    </StackLayout>
                </StackLayout>
            </ScrollView>
        </StackLayout>

        <GridLayout row="2" height="150" class="m-t-15">
            <Carousel
                    [items]="images"
                    android:indicatorAnimation="worm" indicatorColor="#595d62" indicatorOffset="0, 20" showIndicator="true">
                <CarouselItem *ngFor="let item of images" verticalAlignment="middle">
                    <GridLayout>
                        <Image class="carousel__image" [src]="item" stretch="aspectFill"></Image>
                    </GridLayout>
                </CarouselItem>
            </Carousel>
        </GridLayout>

        <GridLayout row="3" height="150" class="m-t-15">
            <Carousel
                    [items]="images"
                    android:indicatorAnimation="worm" indicatorColor="#595d62" indicatorOffset="0, 20" showIndicator="true">
                <CarouselItem *ngFor="let item of images" verticalAlignment="middle">
                    <GridLayout>
                        <Image class="carousel__image" [src]="item" stretch="aspectFill"></Image>
                    </GridLayout>
                </CarouselItem>
            </Carousel>
        </GridLayout>

        <FlexboxLayout row="4" class="m-t-15"
                       flexWrap="wrap" justifyContent="space-around">
            <StackLayout
                    class="all__items"
                    *ngFor="let image of images"
                    (tap)="goToProduct()">
                <Image [src]="image" class="recommended__item_image" stretch="aspectFill"></Image>
                <StackLayout class="recommended__item_details">
                    <Label
                            class="label home__label recommended__item_name"
                            text="Name Name Name Name Name Name Name Name Name NameNameNameNameNameName"
                            textWrap="false"></Label>
                    <StackLayout orientation="horizontal" class="recommended__item_variations">
                        <Label
                                text="ab cd, ab cd, ab cd, ab cd, ab cd, ab cd"
                                class="label home__label recommended__item_variation">
                        </Label>
                    </StackLayout>
                    <Label class="label home__label recommended__item_price" text="Price"></Label>
                </StackLayout>
            </StackLayout>
        </FlexboxLayout>

    </GridLayout>

</ScrollView>

