<action-bar
        android-icon="font://&#xf100;"
        ios-icon="&#xf100;"
        text="Product"></action-bar>

<GridLayout rows="*,auto" columns="*">

    <ScrollView scrollBarIndicatorVisible="false">
        <FlexboxLayout flexDirection="column" row="0" col="0">
            <FlexboxLayout flexDirection="column">
                <Image class="main-photo" src="{{toDisplayPhoto}}" stretch="aspectFill"></Image>
                <ScrollView orientation="horizontal" scrollBarIndicatorVisible="false">
                    <StackLayout orientation="horizontal">
                        <Image class="photo" src="{{image}}" stretch="aspectFill" *ngFor="let image of product.images;"
                               (tap)="changePhoto(image)"></Image>
                    </StackLayout>
                </ScrollView>
            </FlexboxLayout>

            <FlexboxLayout flexDirection="column" flexWrap="wrap" class="product__details">
                <DockLayout>
                    <Label dock="left" text="{{product.name}}" class="label name pull-left"></Label>
                    <FlexboxLayout class="pull-right" dock="right" alignItems="center">
                        <Label text="Quantity" class="m-r-4 label quantity"></Label>
                        <Label text="&#xf055;" class="m-r-4 change__quantity-icon fas" (tap)="increaseQuantityByOne()"></Label>
                        <Label text="{{product.quantity}}" class="m-r-4 label quantity__count"></Label>
                        <Label text="&#xf056;" class="change__quantity-icon fas" (tap)="decreaseQuantityByOne()"></Label>
                    </FlexboxLayout>
                </DockLayout>
                <Label text="{{product.price}}" class="label price"></Label>
                <HtmlView [html]="product.description" class="label description"></HtmlView>
            </FlexboxLayout>
        </FlexboxLayout>
    </ScrollView>

    <Button
            row="1" col="0"
            class="btn-primary btn-cart"
            text="Add to cart"
            (tap)="addToCart()">
    </Button>

</GridLayout>
