<action-bar
        android-icon="font://&#xf100;"
        ios-icon="&#xf100;"
        text="Product"></action-bar>

<GridLayout rows="*,auto" columns="*">

    <ScrollView scrollBarIndicatorVisible="false">
        <FlexboxLayout flexDirection="column" row="0" col="0">
            <FlexboxLayout flexDirection="column">
                <Image class="main-photo" src="{{toDisplayPhoto}}" stretch="aspectFill"></Image>
                <ScrollView orientation="horizontal" scrollBarIndicatorVisible="false">
                    <GridLayout class="photos" rows="auto" columns="*,*,*,*,*,*,*,*,*,*"  *ngFor="let image of product.images; let col = index">
                        <Image class="photo" row="0" col="{{col}}" src="{{image}}" stretch="aspectFill"
                               (tap)="changePhoto(image)"></Image>
                    </GridLayout>

<!--                        <Image class="photo" col="1" src="{{images[1]}}" stretch="aspectFill"-->
<!--                               (tap)="changePhoto(images[1])"></Image>-->
<!--                        <Image class="photo" col="2" src="{{images[2]}}" stretch="aspectFill"-->
<!--                               (tap)="changePhoto(images[2])"></Image>-->
<!--                        <Image class="photo" col="3" src="{{images[3]}}" stretch="aspectFill"-->
<!--                               (tap)="changePhoto(images[3])"></Image>-->
<!--                        <Image class="photo" col="4" src="{{images[4]}}" stretch="aspectFill"-->
<!--                               (tap)="changePhoto(images[4])"></Image>-->
<!--                        <Image class="photo" col="5" src="{{images[5]}}" stretch="aspectFill"-->
<!--                               (tap)="changePhoto(images[5])"></Image>-->
                </ScrollView>
            </FlexboxLayout>

            <FlexboxLayout flexDirection="column" flexWrap="wrap" class="product__details">
                <Label text="{{product.name}}" class="label name"></Label>
                <Label text="{{product.price}}" class="label price"></Label>
                <HtmlView [html]="product.description" class="label description"></HtmlView>
            </FlexboxLayout>
        </FlexboxLayout>
    </ScrollView>

    <Button text="Add to cart" row="1" col="0" class="btn-primary btn-cart"></Button>

</GridLayout>

