<action-bar
        android-icon="font://&#xf0c9;"
        ios-icon="&#xf0c9;"
        [to-navigate]="openDrawer"
        text="{{text}}"
></action-bar>

<GridLayout class="page__content" rows="*,auto">

    <StackLayout row="0">
        <GridLayout
                row="0"
                *ngIf="tabOption == 1">
            <home></home>
        </GridLayout>

        <GridLayout row="0" *ngIf="tabOption == 2">
            <category></category>
        </GridLayout>

        <GridLayout row="0" *ngIf="tabOption == 3">
            <sign-in></sign-in>
        </GridLayout>
    </StackLayout>

    <GridLayout row="1" rows="*" columns="*,*,*," borderTopWidth="1" borderTopColor="#a9a9a9">
        <StackLayout orientation="vertical" row="0" col="0" (tap)="changeTabView(1, 'Home')">
            <Label class="page__content-icon tab__view-icon fas" text="&#xf015;"  [ngClass]="{'is-selected' : tabOption === 1}"></Label>
        </StackLayout>

        <StackLayout orientation="vertical" row="0" col="1" (tap)="changeTabView(2, 'Categories')">
            <Label class="page__content-icon tab__view-icon fas" text="&#xf022;" [ngClass]="{'is-selected' : tabOption === 2}"></Label>
        </StackLayout>

        <StackLayout orientation="vertical" row="0" col="2" (tap)="changeTabView(3, 'Accounts')">
            <Label class="page__content-icon tab__view-icon fas" text="&#xf500;" [ngClass]="{'is-selected' : tabOption === 3}"></Label>
        </StackLayout>
    </GridLayout>
</GridLayout>

